<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head
        th:replace="~{segmentation/_header::_header_common(~{::title},~{::link},~{::style})}">
    <meta charset="utf-8">
    <title>XXX管理系统</title>
    <link rel="stylesheet" th:href="@{/css/custom/index/layuimini.css}" media="all">
    <style type="text/css" id="layuimini-bg-color">
    </style>
</head>
<body class="layui-layout-body layuimini-all">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header header">
        <div class="layui-logo">
        </div>
        <a>
            <div class="layuimini-tool"><i title="展开" class="fa fa-outdent" data-side-fold="1"></i></div>
        </a>

        <ul class="layui-nav layui-layout-left layui-header-menu layui-header-pc-menu mobile layui-hide-xs">
        </ul>
        <ul class="layui-nav layui-layout-left layui-header-menu mobile layui-hide-sm">
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="fa fa-list-ul"></i> 选择模块</a>
                <dl class="layui-nav-child layui-header-mini-menu">
                </dl>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" data-refresh="刷新"><i class="fa fa-refresh"></i></a>
            </li>
            <!--<li class="layui-nav-item">-->
                <!--<a href="javascript:;" data-clear="清理" class="layuimini-clear"><i class="fa fa-trash-o"></i></a>-->
            <!--</li>-->
            <li class="layui-nav-item layuimini-setting">
                <a href="javascript:;" sec:authentication="name"></a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:;" data-iframe-tab="/personal/center/user/show" data-title="基本资料" data-icon="fa fa-eye">基本资料</a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-iframe-tab="/personal/center/reset/password" data-title="修改密码" data-icon="fa fa-key">修改密码</a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-iframe-tab="/personal/center/reset/info" data-title="修改信息" data-icon="fa fa-cog">修改信息</a>
                    </dd>
                    <dd>
                        <a th:href="@{/logout}" class="login-out">退出登录</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item layuimini-select-bgcolor mobile layui-hide-xs">
                <a href="javascript:;" data-bgcolor="配色方案"><i class="fa fa-ellipsis-v"></i></a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll layui-left-menu">
        </div>
    </div>

    <div class="layui-body">
        <div class="layui-tab" lay-filter="layuiminiTab" id="top_tabs_box">
            <ul class="layui-tab-title" id="top_tabs">
                <li class="layui-this" id="layuiminiHomeTabId" lay-id=""></li>
            </ul>
            <ul class="layui-nav closeBox">
                <li class="layui-nav-item">
                    <a href="javascript:;"> <i class="fa fa-dot-circle-o"></i> 页面操作</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-page-close="other"><i class="fa fa-window-close"></i> 关闭其他</a></dd>
                        <dd><a href="javascript:;" data-page-close="all"><i class="fa fa-window-close-o"></i> 关闭全部</a></dd>
                    </dl>
                </li>
            </ul>
            <div class="layui-tab-content clildFrame">
                <div id="layuiminiHomeTabIframe" class="layui-tab-item layui-show">
                </div>
            </div>
        </div>
    </div>

</div>

<!--_footer 作为公共模版分离出去-->
<div th:replace="~{segmentation/_tail::_tail_common}"></div>
<!--/_footer 作为公共模版分离出去-->


<script th:inline="javascript">
    layui.use(['element', 'layer', 'layuimini'], function () {
        var $ = layui.jquery,
            element = layui.element,
            layer = layui.layer;

        layuimini.init('initMenu');

        // $('.login-out').on("click", function () {
        //     layer.msg('退出登录成功', function () {
        //         window.location = '/';
        //     });
        // });
    });
</script>
</body>
</html>


<!--&lt;!&ndash;<script th:src="@{/js/plugins/layui/layui.js}"></script>&ndash;&gt;-->
<!--<script th:src="@{lib/layui-v2.5.4/layui.js?v=1.0.0}" charset="utf-8"></script>-->
<!--<script th:src="@{js/lay-config.js?v=1.0.0}" charset="utf-8"></script>-->
<!--<script>-->
    <!--layui.config({-->
        <!--base: '../static/' //静态资源所在路径-->
    <!--}).extend({-->
        <!--index: 'templates/index' //主入口模块-->
    <!--}).use('index');-->
<!--</script>-->
<!--</body>-->
<!--</html>-->