<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="_header_common(title,links,styles)">
    <!-- 公共头 -->
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="Bookmark" href="/img/plugins/favicon.ico">
    <link rel="Shortcut Icon" href="/img/plugins/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/js/plugins/ie9/html5shiv.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/ie9/respond.min.js}"></script>
    <![endif]-->
    <link rel="stylesheet" th:href="@{/js/plugins/layui/css/layui.css?v=1.0.0}" media="all">
    <link rel="stylesheet" th:href="@{/css/plugins/font-awesome/css/font-awesome.min.css?v=1.0.0}" media="all">
    <!--[if IE 6]>
    <script type="text/javascript" src="@{/js/plugins/ie6/DD_belatedPNG_0.0.8a-min.js}"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!-- 个性头 -->
    <title th:replace="${title}"></title>
    <th:block th:replace="${links}"/>
    <th:block th:replace="${styles}"/>
</head>