<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head
        th:replace="~{segmentation/_right_bottom_header::_header_common(~{::title},~{::link},~{::style})}">
    <meta charset="utf-8">
    <title>菜单按钮关联管理</title>
    <link>
    <style type="text/css"></style>
</head>
<body>
<div class="layuimini-container">
    <div class="layui-row">
        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
            <div class="layuimini-main">
                <fieldset class="layui-elem-field layuimini-search">
                    <legend>搜索信息</legend>
                    <div style="margin: 10px 10px 10px 10px">
                        <form class="layui-form layui-form-pane" id="roleMenuButton-search-form" action="">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">角色名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="roleName" autocomplete="off"
                                               placeholder="角色名称"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">角色代码</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="roleCode" autocomplete="off"
                                               placeholder="角色代码"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline"
                                     sec:authorize="hasPermission(#authorization.authentication,'menus','SYSTEM_ROLE_MENU_BUTTON_MANAGEMENT')">
                                    <a class="layui-btn" lay-submit="" lay-filter="roleMenuButton-search-btn"
                                       title="搜搜">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </fieldset>
                <table id="roleMenuButtonTableId" lay-filter="roleMenuButtonTableFilter"></table>
            </div>
        </div>
        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
            <div class="layuimini-main">
                <div class="layui-btn-group" style="min-width: 100%">
                    <a sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_ROLE_MENU_BUTTON_MANAGEMENT:save')"
                       class="layui-btn menuButton-save-btn" title="保存">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </a>
                    <a sec:authorize="hasPermission(#authorization.authentication,'menus','SYSTEM_ROLE_MENU_BUTTON_MANAGEMENT')"
                       class="layui-btn layui-btn-warm menuButton-refresh-btn"
                       style="margin-left: 10px!important;" title="刷新菜单">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                </div>
                <div id="menuButtonTreeId" class="demo-tree-more"></div>
            </div>
        </div>
        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
            <div class="layuimini-main">
                <fieldset class="layui-elem-field layuimini-search">
                    <legend>搜索信息</legend>
                    <div style="margin: 10px 10px 10px 10px">
                        <form class="layui-form layui-form-pane" id="menuButton-search-form" action="">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">按钮名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="buttonName" autocomplete="off"
                                               placeholder="按钮名称"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">按钮代码</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="buttonCode" autocomplete="off"
                                               placeholder="按钮代码"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline"
                                     sec:authorize="hasPermission(#authorization.authentication,'menus','SYSTEM_ROLE_MENU_BUTTON_MANAGEMENT')">
                                    <a class="layui-btn" lay-submit="" lay-filter="menuButton-search-btn" title="搜搜">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </fieldset>
                <table id="menuButtonTableId" lay-filter="menuButtonTableFilter"></table>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{segmentation/_tail::_tail_common}"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    [# sec:authorize="hasPermission(#authorization.authentication,'menus','SYSTEM_ROLE_MENU_BUTTON_MANAGEMENT')"]
    layui.use(['form', 'table', 'common', 'tree'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            tree = layui.tree,
            menuButtonData = new Array(),
            roleMenuButtonTableSelectId = "",
            menuTreeSelectId = "",
            roleTableId = "roleMenuButtonTableId",
            treeId = "menuButtonTreeId",
            tableId = "menuButtonTableId";

        //角色列排序事件绑定
        table.on('sort(roleMenuButtonTableFilter)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            //尽管我们的 table 自带排序功能，但并没有请求服务端。
            //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
            roleMenuButtonTableSelectId = "";
            menuTreeSelectId = "";
            var data = common.getFormData($("#roleMenuButton-search-form"));
            data.sort = obj.field;//排序字段   在接口作为参数字段  field order
            data.order = obj.type;//排序方式   在接口作为参数字段  field order
            //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
            common.tableRefresh(roleTableId, data);
        });

        //角色单选事件绑定
        table.on('radio(roleMenuButtonTableFilter)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            treeRemoveClass();
            roleMenuButtonTableSelectId = obj.data.id;
            menuTreeSelectId = "";
            menuButtonTreeRefresh({
                data: getTreeData(),
            });
        });

        // 角色搜索操作
        form.on('submit(roleMenuButton-search-btn)', function (data) {
            //执行搜索重载
            roleMenuButtonTableSelectId = "";
            menuTreeSelectId = "";
            menuButtonTreeRefresh({
                data: getTreeData(),
            });
            common.tableRefresh(roleTableId, data.field);
            return false;//返回false防止重复提交
        });

        // 角色表格数据完成后初始化
        function roleTableInit(res, curr, count) {
            common.initCheckbokOrRadio(roleTableId, 2);
        }

        // 角色表格
        var roleMenuButtonTableId = table.render({
            elem: '#' + roleTableId,
            id: roleTableId,
            url: '/system/role/menu/button/findRoleParamList',
            height: 475,
            // contentType: 'application/json',
            // method: 'post',
            // even: true,
            done: roleTableInit,
            cols: [
                [
                    {type: "radio", width: 50, field: 'id', fixed: "left"},
                    {type: "numbers", width: 50, fixed: "left", title: '序号'},
                    {field: 'roleName', minWidth: 100, title: '角色名称', sort: true},
                    {field: 'roleCode', minWidth: 100, title: '角色代码', sort: true}
                ]
            ],
            // initSort: {
            //      sort: "sortcreateTime", //排序字段   在接口作为参数字段  field order
            //      order: "desc"
            // },
            sort: true,
            limits: [10, 25, 50, 100],
            limit: 10,
            page: true
        });

        // 按钮表格数据完成后初始化
        function tableInit(res, curr, count) {
            common.initCheckbokOrRadio(tableId, 1);
            if (menuButtonData && menuButtonData.length > 0 && res.data.length > 0) {
                var thisTableData = res.data;
                for (var i = 0; i < thisTableData.length; i++) {
                    for (var j = 0; j < menuButtonData.length; j++) {
                        if (thisTableData[i].id == menuButtonData[j].buttonId) {
                            $("div[lay-id='" + tableId + "'] tr[data-index='" + thisTableData[i].LAY_TABLE_INDEX + "'] td div.laytable-cell-checkbox div.layui-form-checkbox").click();
                        }
                    }
                }
            }
        }

        // 按钮表格
        var menuButtonTableId = table.render({
            elem: '#' + tableId,
            id: tableId,
            url: '/system/role/menu/button/findButtonParamList',
            height: 475,
            // contentType: 'application/json',
            // method: 'post',
            // even: true,
            done: tableInit,
            cols: [
                [
                    {type: "checkbox", width: 50, field: 'id', fixed: "left"},
                    {type: "numbers", width: 50, fixed: "left", title: '序号'},
                    {field: 'buttonName', minWidth: 100, title: '按钮名称'},
                    {field: 'buttonCode', minWidth: 100, title: '按钮代码'}
                ]
            ],
            // initSort: {
            //      sort: "sortcreateTime", //排序字段   在接口作为参数字段  field order
            //      order: "desc"
            // },
            sort: true,
            limit: 2147483647,
            page: false
        });

        // 表单搜索操作
        form.on('submit(menuButton-search-btn)', function (data) {
            //执行搜索重载
            common.tablePageRefresh(tableId, data.field);
            return false;//返回false防止重复提交
        });

        //树形数据请求
        function getTreeData() {
            var index = layer.load(3);
            var data = [];
            $.ajax({
                url: "/system/role/menu/button/findMenuTreeList",    //后台数据请求地址
                // data: {roleId: buttonTableSelectId},        //id为加载当前角色的权限角色，为角色id
                type: "post",
                async: false,
                success: function (resut) {
                    layer.close(index);
                    data = resut.data;
                },
                error: function(){
                    layer.close(index);
                }
            });
            return data;
        }

        //树形刷新事件
        function menuButtonTreeRefresh(data) {
            tree.reload(treeId, data);
        }

        //删除菜单树形选中样式
        function treeRemoveClass() {
            $("#menuButtonTreeId").find("span.custom-tree-item-clicked").removeClass("custom-tree-item-clicked");
        }

        //树形
        tree.render({
            elem: '#' + treeId,
            id: treeId,
            data: getTreeData(),
            onlyIconControl: true,  //是否仅允许节点左侧图标控制展开收缩
            click: function (obj) {
                treeRemoveClass();
                // $("#menuButtonTreeId").find("span.custom-tree-item-clicked").removeClass("custom-tree-item-clicked");
                $(obj.elem).children(".layui-tree-entry").children(".layui-tree-main").children(".layui-tree-txt").addClass("custom-tree-item-clicked");
                menuTreeSelectId = obj.data.id;
                $.ajax({
                    type: 'POST',
                    url: '/system/role/menu/button/findByParamList',
                    data: {
                        roleId: roleMenuButtonTableSelectId,
                        menuId: menuTreeSelectId
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == Result.SUCCESS) {
                            menuButtonData = data.data;
                            var buttonData = common.getFormData($("#menuButton-search-form"));
                            common.tablePageRefresh(tableId, buttonData);
                        } else {
                            layer.msg(data.msg, {
                                icon: 2,
                                time: 3000
                            });
                        }
                    }
                    /* error:function(data) {
                        console.log(data.msg);
                    }, */
                });
            }
        });

        //树形刷新
        $(document).off("click", ".menuButton-refresh-btn");
        $(document).on("click", ".menuButton-refresh-btn", function () {
            menuButtonData = [];
            menuButtonTreeRefresh({
                data: getTreeData(),
            });
        });

        [# sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_ROLE_MENU_BUTTON_MANAGEMENT:save')"]
        // 批量保存操作
        $(document).off("click", ".menuButton-save-btn");
        $(document).on("click", ".menuButton-save-btn", function () {
            if (roleMenuButtonTableSelectId.length == 0) {
                layer.msg('请选中角色信息');
                return;
            }
            if (menuTreeSelectId.length == 0) {
                layer.msg('请选中菜单信息');
                return;
            }
            layer.confirm('确认保存吗？', {
                icon: 3,
                title: '提示',
                shadeClose: true
            }, function (index) {
                var buttonIdList = common.getTableRowId(tableId, "id");
                layer.close(index);
                $.ajax({
                    type: 'POST',
                    url: '/system/role/menu/button/save',
                    data: {
                        roleId: roleMenuButtonTableSelectId,
                        menuId: menuTreeSelectId,
                        buttonIdList: buttonIdList
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == Result.SUCCESS) {
                            layer.msg('成功!', {
                                icon: 1,
                                shade: [0.3, '#f5f5f5'],
                                time: 1500
                            }, function () {
                                menuButtonData = [];
                                var data = common.getFormData($("#role-search-form"));
                                common.tablePageRefresh(tableId, data);
                                menuButtonTreeRefresh({
                                    data: getTreeData(),
                                });
                            });
                        } else {
                            layer.msg(data.msg, {
                                icon: 2,
                                time: 3000
                            });
                        }
                    }
                    /* error:function(data) {
                        console.log(data.msg);
                    }, */
                });
            });
            return;
        });
        [/]
    });
    [/]
    /*]]>*/
</script>
</body>
</html>