<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.dao.mapper.system.SystemRoleMenuButtonMapper">
    <resultMap id="BaseResultMap" type="com.framework.model.entity.system.SystemRoleMenuButton">
        <result column="ROLE_ID" jdbcType="BIGINT" property="roleId"/>
        <result column="MENU_ID" jdbcType="BIGINT" property="menuId"/>
        <result column="BUTTON_ID" jdbcType="BIGINT" property="buttonId"/>
    </resultMap>

    <sql id="Base_Column_List">
      p.ROLE_ID, p.MENU_ID, p.BUTTON_ID
    </sql>

    <delete id="deleteList" parameterType="com.framework.model.entity.system.SystemRoleMenuButton">
        DELETE FROM tb_system_role_menu_button
        WHERE ROLE_ID=#{roleId} and MENU_ID = #{menuId} and BUTTON_ID IN
        <foreach collection="idList" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteRoleList" parameterType="java.util.List">
        DELETE FROM tb_system_role_menu_button
        WHERE ROLE_ID IN
        <foreach collection="idList" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteRoleMenuId" parameterType="java.util.Map">
        DELETE FROM tb_system_role_menu_button
        WHERE ROLE_ID=#{roleId} and MENU_ID = #{menuId}
    </delete>

    <insert id="insert" parameterType="com.framework.model.entity.system.SystemRoleMenuButton">
    insert into tb_system_role_menu_button (ROLE_ID, MENU_ID, BUTTON_ID)
    values (#{roleId,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT}, #{buttonId,jdbcType=BIGINT})
    </insert>

    <insert id="insertSelective" parameterType="com.framework.model.entity.system.SystemRoleMenuButton">
        insert into tb_system_role_menu_button
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                ROLE_ID,
            </if>
            <if test="menuId != null">
                MENU_ID,
            </if>
            <if test="buttonId != null">
                BUTTON_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="menuId != null">
                #{menuId,jdbcType=BIGINT},
            </if>
            <if test="buttonId != null">
                #{buttonId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <insert id="insertList" parameterType="java.util.List">
        insert into tb_system_role_menu_button (ROLE_ID, MENU_ID, BUTTON_ID)
        <foreach collection="list" item="item" index="index" separator="union all">
            SELECT
            #{item.roleId,jdbcType=BIGINT}, #{item.menuId,jdbcType=BIGINT}, #{item.buttonId,jdbcType=BIGINT}
            FROM dual
        </foreach>
    </insert>

    <select id="findByList" parameterType="com.framework.model.entity.system.SystemRoleMenuButton"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_system_role_menu_button p
        <where>
            <include refid="conditionSql"/>
        </where>
    </select>

    <select id="findByMenuIdListButtonCode" parameterType="java.lang.Long"
            resultMap="BaseResultMap">
        SELECT DISTINCT
        <include refid="Base_Column_List"/>, b.BUTTON_CODE buttonCode
        from tb_system_role_menu_button p
        INNER JOIN system_button b ON p.BUTTON_ID = b.ID AND b.OPERATER_STATUS > -1
        where p.MENU_ID = #{menuId}
    </select>

    <select id="findByIsExistList" parameterType="com.framework.model.entity.system.SystemRoleMenuButton"
            resultMap="BaseResultMap">
        SELECT DISTINCT
        <include refid="Base_Column_List"/>, r.ROLE_NAME roleName , m.MENU_NAME menuName
        FROM tb_system_role_menu_button p
        INNER JOIN system_role r ON p.ROLE_ID = r.ID AND r.OPERATER_STATUS > -1
        INNER JOIN system_menu m ON p.MENU_ID = m.ID AND m.OPERATER_STATUS > -1
        <if test="roleId != null and idList != null">
            where p.ROLE_ID IN
            <foreach collection="idList" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="buttonId != null and idList != null">
            where p.BUTTON_ID IN
            <foreach collection="idList" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="menuId != null and idList != null">
            where p.MENU_ID IN
            <foreach collection="idList" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="findByButtonIdListRoleCodeAndMenuCode" parameterType="java.lang.Long"
            resultMap="BaseResultMap">
        SELECT DISTINCT
        <include refid="Base_Column_List"/>, r.ROLE_CODE roleCode, m.MENU_CODE menuCode
        from tb_system_role_menu_button p
        INNER JOIN system_role r on p.ROLE_ID = r.ID AND m.OPERATER_STATUS > -1
        INNER JOIN system_menu m ON p.MENU_ID = m.ID AND m.OPERATER_STATUS > -1
        where p.BUTTON_ID = #{buttonId}
    </select>

    <sql id="conditionSql">
        <if test="roleId != null">
            AND p.ROLE_ID = #{roleId}
        </if>
        <if test="menuId != null">
            AND p.MENU_ID = #{menuId}
        </if>
        <if test="buttonId != null">
            AND p.BUTTON_ID = #{buttonId}
        </if>
    </sql>
</mapper>