<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.dao.mapper.system.SystemUserRoleMapper">
    <resultMap id="BaseResultMap" type="com.framework.model.entity.system.SystemUserRole">
        <result column="USER_ID" jdbcType="BIGINT" property="userId"/>
        <result column="ROLE_ID" jdbcType="BIGINT" property="roleId"/>
    </resultMap>

    <sql id="Base_Column_List">
      p.USER_ID, p.ROLE_ID
    </sql>

    <delete id="deleteList" parameterType="com.framework.model.entity.system.SystemUserRole">
        DELETE FROM tb_system_user_role
        WHERE USER_ID = #{userId} and ROLE_ID IN
        <foreach collection="idList" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteUserId" parameterType="java.lang.Long">
        DELETE FROM tb_system_user_role
        WHERE USER_ID = #{userId}
    </delete>

    <insert id="insert" parameterType="com.framework.model.entity.system.SystemUserRole">
    insert into tb_system_user_role (USER_ID, ROLE_ID)
    values (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
    </insert>

    <insert id="insertSelective" parameterType="com.framework.model.entity.system.SystemUserRole">
        insert into tb_system_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="roleId != null">
                ROLE_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <insert id="insertList" parameterType="java.util.List">
        insert into tb_system_user_role (USER_ID, ROLE_ID)
        <foreach collection="list" item="item" index="index" separator="union all">
            SELECT
            #{item.userId,jdbcType=BIGINT}, #{item.roleId,jdbcType=BIGINT}
            FROM dual
        </foreach>
    </insert>

    <select id="findByList" parameterType="com.framework.model.entity.system.SystemUserRole"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_system_user_role p
        <where>
            <include refid="conditionSql"/>
        </where>
    </select>

    <select id="findByIsExistList" parameterType="com.framework.model.entity.system.SystemUserRole"
            resultMap="BaseResultMap">
        SELECT DISTINCT
        <include refid="Base_Column_List"/>
        <if test="userId != null and idList != null">
            , r.ROLE_NAME roleName
        </if>
        <if test="roleId != null and idList != null">
            , u.LOGIN_NAME loginName
        </if>
        FROM tb_system_user_role p
        <if test="userId != null and idList != null">
            INNER JOIN `system_role` r ON p.ROLE_ID = r.ID AND r.OPERATER_STATUS > -1
            where p.USER_ID IN
            <foreach collection="idList" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="roleId != null and idList != null">
            INNER JOIN `system_user` u ON p.USER_ID = u.ID AND u.OPERATER_STATUS > -1
            where p.ROLE_ID IN
            <foreach collection="idList" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <sql id="conditionSql">
        <if test="userId != null">
            AND p.USER_ID = #{userId}
        </if>
        <if test="roleId != null">
            AND p.ROLE_ID = #{roleId}
        </if>
    </sql>
</mapper>