<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.dao.mapper.system.SystemLogMapper">
    <resultMap id="BaseResultMap" type="com.framework.model.entity.system.SystemLog">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="OPERATER_ID" jdbcType="BIGINT" property="operaterId"/>
        <result column="OPERATER_TIME" property="operaterTime"/>
        <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName"/>
        <result column="IP" jdbcType="VARCHAR" property="ip"/>
        <result column="OPERATER_TITLE" jdbcType="VARCHAR" property="operaterTitle"/>
        <result column="OPERATER_CONTENT" jdbcType="VARCHAR" property="operaterContent"/>
        <result column="COMPANY_CODE" jdbcType="VARCHAR" property="companyCode"/>
        <result column="COMPANY_ID" jdbcType="BIGINT" property="companyId"/>
    </resultMap>
    <sql id="Base_Column_List">
    p.ID, p.OPERATER_ID, p.OPERATER_TIME, p.LOGIN_NAME, p.IP, p.OPERATER_TITLE, p.OPERATER_CONTENT, p.COMPANY_CODE, p.COMPANY_ID
    </sql>

    <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">-->
    <!--delete from system_log-->
    <!--where ID = #{id,jdbcType=BIGINT}-->
    <!--</delete>-->

    <insert id="insert" parameterType="com.framework.model.entity.system.SystemLog" useGeneratedKeys="true"
            keyProperty="id">
    insert into system_log (OPERATER_ID, OPERATER_TIME,
      LOGIN_NAME, IP, OPERATER_TITLE,
      COMPANY_CODE, COMPANY_ID, OPERATER_CONTENT)
    values (#{operaterId,jdbcType=BIGINT}, #{operaterTime},
      #{loginName,jdbcType=VARCHAR},#{ip,jdbcType=VARCHAR},#{operaterTitle,jdbcType=VARCHAR},
      #{companyCode,jdbcType=VARCHAR}, #{companyId,jdbcType=BIGINT}, #{operaterContent,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.framework.model.entity.system.SystemLog" useGeneratedKeys="true"
            keyProperty="id">
        insert into system_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <!--<if test="id != null">-->
            <!--ID,-->
            <!--</if>-->
            <if test="operaterId != null">
                OPERATER_ID,
            </if>
            <if test="operaterTime != null">
                OPERATER_TIME,
            </if>
            <if test="loginName != null and loginName != ''">
                LOGIN_NAME,
            </if>
            <if test="ip != null and ip != ''">
                IP,
            </if>
            <if test="operaterTitle != null and operaterTitle != ''">
                OPERATER_TITLE,
            </if>
            <if test="companyCode != null and companyCode != ''">
                COMPANY_CODE,
            </if>
            <if test="companyId != null">
                COMPANY_ID,
            </if>
            <if test="operaterContent != null and operaterContent != ''">
                OPERATER_CONTENT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <!--<if test="id != null">-->
            <!--#{id,jdbcType=BIGINT},-->
            <!--</if>-->
            <if test="operaterId != null">
                #{operaterId,jdbcType=BIGINT},
            </if>
            <if test="operaterTime != null">
                #{operaterTime},
            </if>
            <if test="loginName != null and loginName != ''">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="ip != null and ip != ''">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="operaterTitle != null and operaterTitle != ''">
                #{operaterTitle,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null and companyCode != ''">
                #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=BIGINT},
            </if>
            <if test="operaterContent != null and operaterContent != ''">
                #{operaterContent,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.framework.model.entity.system.SystemLog">
    update system_log
    set OPERATER_ID = #{operaterId,jdbcType=BIGINT},
      OPERATER_TIME = #{operaterTime},
      LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR},
      OPERATER_TITLE = #{operaterTitle,jdbcType=VARCHAR},
      COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
      COMPANY_ID = #{companyId,jdbcType=BIGINT},
      OPERATER_CONTENT = #{operaterContent,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.framework.model.entity.system.SystemLog">
        update system_log
        <set>
            <if test="operaterId != null">
                OPERATER_ID = #{operaterId,jdbcType=BIGINT},
            </if>
            <if test="operaterTime != null">
                OPERATER_TIME = #{operaterTime},
            </if>
            <if test="loginName != null and loginName != ''">
                LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="ip != null and ip != ''">
                IP = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="operaterTitle != null and operaterTitle != ''">
                OPERATER_TITLE = #{operaterTitle,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null and companyCode != ''">
                COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                COMPANY_ID = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="operaterContent != null and operaterContent != ''">
                OPERATER_CONTENT = #{operaterContent,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from system_log p
        where p.ID = #{id,jdbcType=BIGINT}
    </select>

    <select id="findPageList" parameterType="com.framework.model.entity.system.SystemLog" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from system_log p
        <where>
            <include refid="conditionSql"/>
            <include refid="fuzzyConditionSql"/>
        </where>
        <if test="sort != null and sort != ''">
            order by ${sort}
            <if test="order != null and order != ''">${order}</if>
        </if>
        limit #{offset}, #{limit}
    </select>

    <select id="findPageListCount" parameterType="com.framework.model.entity.system.SystemLog" resultType="INTEGER">
        select COUNT(p.ID)
        from system_log p
        <where>
            <include refid="conditionSql"/>
            <include refid="fuzzyConditionSql"/>
        </where>
    </select>

    <select id="findByList" parameterType="com.framework.model.entity.system.SystemLog" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from system_log p
        <where>
            <include refid="conditionSql"/>
        </where>
    </select>

    <sql id="fuzzyConditionSql">
        <if test="fuzzyType == 'operaterUserName'">
            AND p.OPERATER_ID in (SELECT u.ID FROM SYSTEM_ADMIN_USER u WHERE u.LOGIN_NAME LIKE
            '%'||#{fuzzyValue,jdbcType=VARCHAR}||'%' AND u.OPERATER_STATUS > -1)
        </if>
        <if test="fuzzyType == 'companyCode'">
            AND p.COMPANY_CODE LIKE '%'||#{fuzzyValue}||'%'
        </if>
        <if test="fuzzyType == 'operaterContent'">
            AND p.OPERATER_CONTENT LIKE '%'||#{fuzzyValue}||'%'
        </if>
        <if test="fuzzyType == 'operaterTitle'">
            AND p.OPERATER_TITLE LIKE '%'||#{fuzzyValue}||'%'
        </if>
        <if test="fuzzyType == 'loginName'">
            AND p.LOGIN_NAME LIKE '%'||#{fuzzyValue}||'%'
        </if>
        <if test="fuzzyType == 'ip'">
            AND p.IP LIKE '%'||#{fuzzyValue}||'%'
        </if>
    </sql>

    <sql id="conditionSql">
        <if test="search != null and search != ''">
            AND (
            p.COMPANY_CODE LIKE CONCAT('%',#{search},'%')
            OR
            p.OPERATER_TITLE LIKE CONCAT('%',#{search},'%')
            OR
            p.OPERATER_CONTENT LIKE CONCAT('%',#{search},'%')
            OR
            p.LOGIN_NAME LIKE CONCAT('%',#{search},'%')
            OR
            p.IP LIKE CONCAT('%',#{search},'%')
            )
        </if>
        <if test="id != null">
            AND p.ID = #{id,jdbcType=BIGINT}
        </if>
        <if test="startTime != null">
            AND p.OPERATER_TIME &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND p.OPERATER_TIME &lt;= #{endTime}
        </if>
        <if test="operaterUserName != null and operaterUserName != ''">
            AND p.OPERATER_ID = (SELECT u.ID FROM SYSTEM_ADMIN_USER u WHERE u.LOGIN_NAME =
            #{operaterUserName,jdbcType=VARCHAR} AND u.OPERATER_STATUS > -1)
        </if>
        <if test="companyCode != null and companyCode != ''">
            AND p.COMPANY_CODE = #{companyCode,jdbcType=VARCHAR}
        </if>
        <if test="operaterContent != null and operaterContent != ''">
            AND p.OPERATER_CONTENT = #{operaterContent,jdbcType=VARCHAR}
        </if>
        <if test="operaterTitle != null and operaterTitle != ''">
            AND p.OPERATER_TITLE = #{operaterTitle,jdbcType=VARCHAR}
        </if>
        <if test="loginName != null and loginName != ''">
            AND p.LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
        </if>
        <if test="ip != null and ip != ''">
            AND p.IP = #{ip,jdbcType=VARCHAR}
        </if>
    </sql>
</mapper>