<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head
        th:replace="~{segmentation/_right_bottom_header::_header_common(~{::title},~{::link},~{::style})}">
    <title>系统后台IP白名单查看</title>
    <link>
    <style type="text/css"></style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>系统后台IP白名单查看</legend>
        </fieldset>
        <form class="layui-form" id="whiteListIpFormView" action="">
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">IP
                </label>
                <div class="layui-input-block">
                    <span class="view-span" th:text="${p.ip}"></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">是否启用
                </label>
                <div class="layui-input-block">
                    <span class="view-span" th:if="${p.isEnable == 1}">是</span>
                    <span class="view-span" th:if="${p.isEnable == 2}">否</span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">描述
                </label>
                <div class="layui-input-block">
                    <span class="view-span" th:text="${p.description}"></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">创建人</label>
                <div class="layui-input-block">
                    <span class="view-span" th:text="${p.createUserName}"></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">创建时间</label>
                <div class="layui-input-block">
                    <span class="view-span" th:text="${#dates.format(p.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">操作人</label>
                <div class="layui-input-block">
                    <span class="view-span" th:text="${p.operaterUserName}"></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">操作时间</label>
                <div class="layui-input-block">
                    <span class="view-span" th:text=" ${#dates.format(p.operaterTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">操作状态</label>
                <div class="layui-input-block">
                    <span class="view-span" th:if="${p.operaterStatus == 1}">新增</span>
                    <span class="view-span" th:if="${p.operaterStatus == 2}">修改</span>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>