<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head
        th:replace="~{segmentation/_right_bottom_header::_header_common(~{::title},~{::link},~{::style})}">
    <title>按钮新增</title>
    <link>
    <style type="text/css"></style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>按钮新增</legend>
        </fieldset>
        <form class="layui-form layui-form-pane" id="buttonFormAdd" action="">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="required-red">*</span>按钮名称
                </label>
                <div class="layui-input-block">
                    <input type="text" name="buttonName" lay-verify="required|buttonName"
                           lay-verType="tips"
                           placeholder="请输入按钮名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="required-red">*</span>按钮代码
                </label>
                <div class="layui-input-block">
                    <input type="text" name="buttonCode" lay-verify="required|buttonCode"
                           lay-verType="tips"
                           placeholder="请输入按钮代码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label"><span class="required-red">*</span>是否启用
                </label>
                <div class="layui-input-block">
                    <input type="radio" name="isEnable" lay-verify="required|isEnable"
                           lay-verType="tips"
                           value="1" title="是" checked="">
                    <input type="radio" name="isEnable" lay-verify="required|isEnable"
                           lay-verType="tips"
                           value="2" title="否">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">描述
                </label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入描述" autocomplete="off" lay-verify="description"
                              lay-verType="tips"
                              name="description" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item"
                 sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_BUTTON_MANAGEMENT:add')">
                <div class="layui-input-block">
                    <a class="layui-btn" lay-submit="" lay-filter="buttonFormAddSubmit">
                        保存
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{segmentation/_tail::_tail_common}"></div>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    [# sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_BUTTON_MANAGEMENT:add')"]
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer;
        //自定义验证规则
        form.verify({
            buttonName: function (value) {
                if (value.length > 64) {
                    return '按钮名称最多64个字符';
                }
            },
            buttonCode: function (value) {
                if (value.length > 64) {
                    return '按钮代码最多64个字符';
                }
            },
            isEnable: function (value) {
            },
            description: function (value) {
                if (!value) {
                    return;
                }
                if (value.length > 1000) {
                    return '描述最多1000个字符';
                }
            }
        });

        //监听提交
        form.on('submit(buttonFormAddSubmit)', function (data) {
            $.ajax({
                type: 'POST',
                url: '/system/button/save',
                data: data.field,
                dataType: 'json',
                success: function (data) {
                    if (data.code == Result.SUCCESS) {
                        layer.msg('成功!', {
                            icon: 1,
                            shade: [0.3, '#f5f5f5'],
                            time: 1500
                        }, function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                    } else {
                        layer.msg(data.msg, {
                            icon: 2,
                            time: 3000
                        });
                    }
                }
                /* error:function(data) {
                    console.log(data.msg);
                }, */
            });
            return false;//返回false防止重复提交
        });
    });
    [/]
    /*]]>*/
</script>

</body>
</html>