<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head
        th:replace="~{segmentation/_right_bottom_header::_header_common(~{::title},~{::link},~{::style})}">
    <title>菜单列表</title>
    <link>
    <style type="text/css"></style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>菜单查看</legend>
        </fieldset>
        <form class="layui-form" id="menuFormView" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">上级菜单</label>
                <div class="layui-input-block">
                    <span class="view-span" th:text="${p.parentName}"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单名称
                </label>
                <div class="layui-input-block">
                    <span class="view-span" th:text="${p.name}"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单代码
                </label>
                <div class="layui-input-block">
                    <span class="view-span" th:text="${p.code}"></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">请求地址
                </label>
                <div class="layui-input-block">
                    <span class="view-span" th:text="${p.url}"></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">图标
                </label>
                <div class="layui-input-block">
                    <span class="view-span" th:text="${p.icon}"></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <span class="view-span" th:text="${p.indexSort}"></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">打开方式
                </label>
                <div class="layui-input-block">
                    <span class="view-span" th:each="item : ${@systemTypeServiceImpl.findByCodeList('systemMenuTarget')}"
                          th:text="${item.typeName}"
                          th:if="${p.target == item.typeCode}"
                    ></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">菜单类别
                </label>
                <div class="layui-input-block">
                    <span class="view-span" th:each="item : ${@systemTypeServiceImpl.findByCodeList('systemMenuCategory')}"
                          th:text="${item.typeName}"
                          th:if="${p.category == item.typeValue}"
                    ></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">菜单类型
                </label>
                <div class="layui-input-block">
                    <span class="view-span" th:each="item : ${@systemTypeServiceImpl.findByCodeList('systemMenuType')}"
                          th:text="${item.typeName}"
                          th:if="${p.type == item.typeValue}"
                    ></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">是否启用
                </label>
                <div class="layui-input-block">
                    <span class="view-span" th:each="item : ${@systemTypeServiceImpl.findByCodeList('isEnable')}"
                          th:text="${item.typeName}"
                          th:if="${p.isEnable == item.typeValue}"
                          th:style="${item.typeValue == 1 ? 'color: limegreen;' : 'color: red;' }"></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">创建人</label>
                <div class="layui-input-block">
                    <span class="view-span" th:text="${p.createUserName}"></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">创建时间</label>
                <div class="layui-input-block">
                    <span class="view-span" th:text="${#dates.format(p.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">操作人</label>
                <div class="layui-input-block">
                    <span class="view-span" th:text="${p.operaterUserName}"></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">操作时间</label>
                <div class="layui-input-block">
                    <span class="view-span" th:text=" ${#dates.format(p.operaterTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">操作状态</label>
                <div class="layui-input-block">
                    <span class="view-span" th:each="item : ${@systemTypeServiceImpl.findByCodeList('operaterStatus')}"
                          th:text="${item.typeName}"
                          th:if="${p.operaterStatus + '' == item.typeCode}"></span>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>