<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head
            th:replace="~{segmentation/_right_bottom_header::_header_common(~{::title},~{::link},~{::style})}">
        <meta charset="utf-8">
        <title>菜单管理</title>
        <link>
        <style type="text/css"></style>
    </head>
    <body>
        <div class="layuimini-container">
            <div class="layui-row">
                <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                    <div id="menuTreeId" class="demo-tree-more"></div>
                </div>
                <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
                    <div class="layuimini-main">
                        <fieldset class="layui-elem-field layuimini-search">
                            <legend>搜索信息</legend>
                            <div style="margin: 10px 10px 10px 10px">
                                <form class="layui-form" id="menu-search-form" action="">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">开始时间</label>
                                            <div class="layui-input-inline">
                                                <input type="text" id="startTime" name="startTime" autocomplete="off"
                                                       placeholder="请选择开始时间"
                                                       class="layui-input startTime" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">结束时间</label>
                                            <div class="layui-input-inline">
                                                <input type="text" id="endTime" name="endTime" autocomplete="off"
                                                       placeholder="请选择结束时间"
                                                       class="layui-input endTime" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">菜单名称</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="menuName" autocomplete="off"
                                                       placeholder="请输入菜单名称"
                                                       class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">菜单代码</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="menuCode" autocomplete="off"
                                                       placeholder="请输入菜单代码"
                                                       class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline"
                                             sec:authorize="hasPermission(#authorization.authentication,'menus','SYSTEM_MENU_MANAGEMENT')">
                                            <a class="layui-btn" lay-submit="" lay-filter="menu-search-btn" title="搜搜">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </fieldset>

                        <div class="layui-btn-group" style="min-width: 100%;">
                            <a sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_MENU_MANAGEMENT:add')"
                               class="layui-btn menu-add-btn" title="添加">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                            <a sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_MENU_MANAGEMENT:batchDel')"
                               class="layui-btn layui-btn-danger menu-batch-del-btn"
                               style="margin-left: 10px!important;" title="批量删除">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </div>
                        <table id="menuTableId" lay-filter="menuTableFilter"></table>
                        <script type="text/html" id="menuCurrentTableBar">
                            <a sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_MENU_MANAGEMENT:view')"
                               class="layui-btn layui-btn-xs menu-view" value="{{d.id}}" lay-event="view" title="查看">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_MENU_MANAGEMENT:edit')"
                               class="layui-btn layui-btn-xs menu-edit" value="{{d.id}}" lay-event="edit" title="编辑">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_MENU_MANAGEMENT:del')"
                               class="layui-btn layui-btn-xs layui-btn-danger menu-delete" value="{{d.id}}"
                               lay-event="delete" title="删除">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </script>

                        <script type="text/html" id="isEnableCurrentTableBar">
                            {{#  if(d.isEnable == 1){ }}
                            是
                            {{#  } else { }}
                            否
                            {{#  } }}
                        </script>
                        <script type="text/html" id="operaterStatusCurrentTableBar">
                            {{#  if(d.operaterStatus == 1){ }}
                            新增
                            {{#  } else { }}
                            修改
                            {{#  } }}
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{segmentation/_tail::_tail_common}"></div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            [# sec:authorize="hasPermission(#authorization.authentication,'menus','SYSTEM_MENU_MANAGEMENT')"]
            layui.use(['form', 'table', 'common', 'tree', 'laydate'], function () {
                var $ = layui.jquery,
                    form = layui.form,
                    table = layui.table,
                    tree = layui.tree,
                    laydate = layui.laydate,
                    common = layui.common,
                    startTime = {},
                    endTime = {},
                    num = 0,
                    treeSelectId = "",
                    treeId = "menuTreeId",
                    tableId = "menuTableId";

                [# sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_MENU_MANAGEMENT:add')"]
                // 添加操作
                $(document).off("click", ".menu-add-btn");
                $(document).on("click", ".menu-add-btn", function () {
                    // var ids = common.getTableRowId(tableId, "id")
                    // if (ids.length > 1) {
                    //     // layer.alert('只能选中一个上级信息', {icon: 2});
                    //     layer.msg('只能选中一个上级信息', {icon: 2});
                    //     return;
                    // }
                    if (!treeSelectId || treeSelectId.length == 0) {
                        layer.msg('请在树形中选择一个上级菜单!', {icon: 2});
                        return;
                    }
                    var title = "新增信息";
                    var url = "/system/menu/get/add";
                    var formId = "menuFormAddId";
                    // if (ids.length == 0) {
                    //     layer.confirm('如果不选中一行上级，当前添加为顶级菜单！', {
                    //         icon: 3,
                    //         title: '提示',
                    //         shadeClose: true
                    //     }, function (index) {
                    //         layer.close(index);
                    //         common.layer_show(title, url, 1000, 500, formId, null, null, null, function (index, layero) {
                    //                 var data = common.getFormData($("#menu-search-form"));
                    //                menuTreeRefresh({data: getTreeData()});
                    //             menuTableRefresh(data);
                    //         });
                    //     });
                    //     return;
                    // }
                    url += "?id=" + treeSelectId;
                    common.layer_show(title, url, 1000, 500, formId, null, null, null, function (index, layero) {
                        var data = common.getFormData($("#menu-search-form"));
                        menuTreeRefresh({data: getTreeData()});
                        menuTableRefresh(data);
                    });
                });
                [/]

                [# sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_MENU_MANAGEMENT:view')"]
                num = 1;
                function initView() {
                    // 编辑操作
                    $(document).off("click", ".menu-view");
                    $(document).on("click", ".menu-view", function () {
                        var title = "查看信息";
                        var url = "/system/menu/get/view?id=" + $(this).attr("value");
                        var formId = "menuFormViewId";
                        common.layer_show(title, url, 1000, 500, formId, null, null, null, function (index, layero) {
                            // var data = common.getFormData($("#menu-search-form"));
                            // menuTableRefresh(data);
                        });
                    });
                }
                [/]

                [# sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_MENU_MANAGEMENT:edit')"]
                num = 2;
                function initEdit() {
                    // 编辑操作
                    $(document).off("click", ".menu-edit");
                    $(document).on("click", ".menu-edit", function () {
                        var title = "编辑信息";
                        var url = "/system/menu/get/edit?id=" + $(this).attr("value");
                        var formId = "menuFormEditId";
                        common.layer_show(title, url, 1000, 500, formId, null, null, null, function (index, layero) {
                            var data = common.getFormData($("#menu-search-form"));
                            menuTreeRefresh({data: getTreeData()});
                            menuTableRefresh(data);
                        });
                    });
                }
                [/]

                [# sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_MENU_MANAGEMENT:del')"]
                num = 3;
                function initDel() {
                    // 删除操作
                    $(document).off("click", ".menu-delete");
                    $(document).on("click", ".menu-delete", function () {
                        // var ids = common.getTableRowId('menuTableId', "id")
                        var id = $(this).attr("value");
                        if (id.length == 0) {
                            layer.msg('请选中删除信息');
                            return;
                        }
                        layer.confirm('确认删除吗？', {
                            icon: 3,
                            title: '提示',
                            shadeClose: true
                        }, function (index) {
                            layer.close(index);
                            $.ajax({
                                type: 'POST',
                                url: '/system/menu/del',
                                data: {
                                    id: id
                                },
                                dataType: 'json',
                                success: function (data) {
                                    if (data.code == Result.SUCCESS) {
                                        layer.msg('成功!', {
                                            icon: 1,
                                            shade: [0.3, '#f5f5f5'],
                                            time: 1500
                                        }, function () {
                                            var data = common.getFormData($("#menu-search-form"));
                                            menuTreeRefresh({data: getTreeData()});
                                            menuTableRefresh(data);
                                        });
                                    } else {
                                        layer.msg(data.msg, {
                                            icon: 2,
                                            time: 3000
                                        });
                                    }
                                }
                                /* error:function(data) {
                                    console.log(data.msg);
                                }, */
                            });
                        });
                        return;
                    });
                }
                [/]

                [# sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_MENU_MANAGEMENT:batchDel')"]
                // 批量删除操作
                $(document).off("click", ".menu-batch-del-btn");
                $(document).on("click", ".menu-batch-del-btn", function () {
                    var ids = common.getTableRowId(tableId, "id");
                    if (ids.length == 0) {
                        layer.msg('请选中删除信息');
                        return;
                    }
                    layer.confirm('确认删除吗？', {
                        icon: 3,
                        title: '提示',
                        shadeClose: true
                    }, function (index) {
                        layer.close(index);
                        $.ajax({
                            type: 'POST',
                            url: '/system/menu/batchDel',
                            data: {
                                idList: ids
                            },
                            dataType: 'json',
                            success: function (data) {
                                if (data.code == Result.SUCCESS) {
                                    layer.msg('成功!', {
                                        icon: 1,
                                        shade: [0.3, '#f5f5f5'],
                                        time: 1500
                                    }, function () {
                                        var data = common.getFormData($("#menu-search-form"));
                                        menuTableRefresh(data);
                                    });
                                } else {
                                    layer.msg(data.msg, {
                                        icon: 2,
                                        time: 3000
                                    });
                                }
                            }
                            /* error:function(data) {
                                console.log(data.msg);
                            }, */
                        });
                    });
                    return;
                });
                [/]

                function getTreeData(id) {
                    var data = [];
                    $.ajax({
                        url: "/system/menu/findMenuTreeList",    //后台数据请求地址
                        data: {id: id},        //id为加载当前角色的权限菜单，为角色id
                        type: "post",
                        async: false,
                        success: function (resut) {
                            data = resut.data;
                        }
                    });
                    return data;
                }

                //表格数据完成后初始化
                function tableInit(res, curr, count) {
                    if(num > 0){
                        initView();
                    }
                    if(num > 1){
                        initEdit();
                    }
                    if(num > 2){
                        initDel();
                    }
                    common.initCheckbokOrRadio(tableId, 1);
                }

                //数据表格刷新事件
                function menuTableRefresh(data) {
                    data.parentId = treeSelectId;
                    table.reload(tableId, {
                        page: {
                            page: 1
                        },
                        where: data
                    });
                }

                //树形刷新事件
                function menuTreeRefresh(data) {
                    treeSelectId = "";
                    tree.reload(treeId, data);
                }

                //数据表格初始化
                var menuTableId = table.render({
                    elem: '#' + tableId,
                    id: tableId,
                    url: '/system/menu/findPageList',
                    height: 475,
                    // contentType: 'application/json',
                    // method: 'post',
                    // even: true,
                    done: tableInit,
                    cols: [
                        [
                            {type: "checkbox", width: 50, field: 'id', fixed: "left"},
                            {type: "numbers", width: 50, fixed: "left", title: '序号'},
                            {field: 'parentName', width: 80, title: '上级菜单', sort: true},
                            {field: 'menuName', width: 80, title: '菜单名称', sort: true},
                            {field: 'menuCode', width: 80, title: '菜单代码', sort: true},
                            {
                                field: 'isEnable',
                                width: 80,
                                title: '启用',
                                sort: true,
                                templet: '#isEnableCurrentTableBar'
                            },
                            {
                                field: 'operaterStatus',
                                width: 80,
                                title: '状态',
                                sort: true,
                                templet: '#operaterStatusCurrentTableBar'
                            },
                            {field: 'operaterTime', width: 80, title: '操作时间', sort: true},
                            {field: 'operaterUserName', width: 80, title: '操作人'},
                            {
                                title: '操作',
                                minWidth: 20,
                                templet: '#menuCurrentTableBar',
                                fixed: "right",
                                align: "center"
                            }
                        ]
                    ],
                    // initSort: {
                    //      sort: "sortcreateTime", //排序字段   在接口作为参数字段  field order
                    //      order: "desc"
                    // },
                    sort: true,
                    limits: [10, 25, 50, 100],
                    limit: 10,
                    page: true
                });

                //树形初始化
                tree.render({
                    elem: '#' + treeId,
                    id: treeId,
                    data: getTreeData(),
                    onlyIconControl: true,  //是否仅允许节点左侧图标控制展开收缩
                    click: function (obj) {
                        treeSelectId = obj.data.id;
                        var data = common.getFormData($("#menu-search-form"));
                        menuTableRefresh(data);
                    }
                });

                table.on('sort(menuTableFilter)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                    //尽管我们的 table 自带排序功能，但并没有请求服务端。
                    //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
                    var data = common.getFormData($("#menu-search-form"));
                    data.sort = obj.field;//排序字段   在接口作为参数字段  field order
                    data.order = obj.type;//排序方式   在接口作为参数字段  field order
                    //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    menuTableRefresh(data);
                });
                // 监听搜索操作
                form.on('submit(menu-search-btn)', function (data) {
                    //执行搜索重载
                    menuTableRefresh(data.field);
                    return false;
                });

                startTime = laydate.render({
                    elem: '#startTime',
                    type: 'datetime',
                    // min: -7, //7天前
                    max: 'nowTime',//7天后
                    btns: ['clear', 'confirm'],
                    theme: 'grid',
                    done: function (value, date, endDate){
                        common.setUpEndTime(endTime, value, date, 6);
                    }
                });

                endTime = laydate.render({
                    elem: '#endTime',
                    type: 'datetime',
                    max: 'nowTime',//7天后
                    btns: ['clear', 'confirm'],
                    theme: 'grid',
                    ready: function(data){
                        var now = new Date();
                        this.dateTime.hours = now.getHours();
                        this.dateTime.minutes = now.getMinutes();
                        this.dateTime.seconds = now.getSeconds();
                    },
                    done: function (value, date, endDate){
                        common.setUpStartTime(startTime, value, date, 6);
                    }
                });

                // table.on('row("menuTableFilter")', function (obj) {
                //     //标注选中行样式
                //     obj.tr.addClass("layui-table-click").siblings().removeClass("layui-table-click");
                //     /选中行，勾选复选框
                //     obj.tr.find("div.layui-unselect.layui-form-checkbox")[1].click();
                // });

                // table.on('row(menuTable)', function(obj){
                //     console.log("test:"+obj.tr) //得到当前行元素对象
                //     console.log("test:"+obj.data) //得到当前行数据
                //     //obj.del(); //删除当前行
                //     //obj.update(fields) //修改当前行数据
                // });
                // table.on('row(tabStudent)', function(obj){
                //     console.log("tabStudent:"+obj.tr) //得到当前行元素对象
                //     console.log("tabStudent:"+obj.data) //得到当前行数据
                //     //obj.del(); //删除当前行
                //     //obj.update(fields) //修改当前行数据
                // });

                // //多选禁止重复
                // $(document).off("click", ".layui-form-checkbox")
                // $(document).on("click", ".layui-form-checkbox", function (e) {
                // $(document).off("change", "[lay-filter='layTableAllChoose']")
                // $(document).on("click", ".layui-form-checkbox", function (e) {
                //     var thisTable = $("div[lay-id='" + tableId + "']");
                //     var thIsCheckbox = thisTable.find("th input[lay-filter='layTableAllChoose']").eq(0).is(':checked');
                //     if (thIsCheckbox) {
                //         var tdCheckboxs = thisTable.find("tr[data-index]");
                //         if (tdCheckboxs && tdCheckboxs.length > 0) {
                //             tdCheckboxs.each(function (i, item) {
                //                 $(item).addClass("select-checkbox-radio");
                //             })
                //         }
                //     } else {
                //         var tdCheckboxs = thisTable.find("tr[data-index]");
                //         if (tdCheckboxs && tdCheckboxs.length > 0) {
                //             tdCheckboxs.each(function (i, item) {
                //                 if (!$(item).find("input[name='layTableCheckbox']").is(":checked")) {
                //                     $(item).removeClass("select-checkbox-radio");
                //                 }
                //             })
                //         }
                //     }
                //     e.stopPropagation();
                // });


                // // //监听表格复选框选择
                // table.on('checkbox(menuTableFilter)', function (obj) {
                //     console.log(obj)
                // });

                // function getTableRowId(value) {
                //     var checkStatus = table.checkStatus('menuTableId')
                //         , data = checkStatus.data, arr = new Array();
                //     ;
                //     for (var i = 0; i < data.length; i++) {
                //         arr.push(data[i][value]);
                //     }
                //     return arr.join(",");
                // }

                // table.on('tool(menuTableFilter)', function (obj) {
                //     var data = obj.data;
                //     if (obj.event === 'edit') {
                //         var title = "编辑信息";
                //         var url = "/system/menu/get/edit?id=" + data.id;
                //         var formId = "menuFormEditId";
                //         common.layer_show(title, url, 1000, 500, formId, null, null, null, function (index, layero) {
                //             var data = common.getFormData($("#menu-search-form"));
                //             menuTableRefresh(data);
                //         });
                //     } else if (obj.event === 'delete') {
                //         console.log(getRowFexId('id'));
                //         layer.confirm('真的删除行么', function (index) {
                //             obj.del();
                //             layer.close(index);
                //         });
                //     }
                // });

                // $(document).off("click", "[lay-id='menuTableId'] .layui-table-body table.layui-table tbody tr")
                // $(document).on("click", "[lay-id='menuTableId'] .layui-table-body table.layui-table tbody tr", function (e) {
                //     // if ($(e.target).hasClass("layui-table-col-special") || $(e.target).parent().hasClass("layui-table-col-special")) {
                //     //     return false;
                //     // }
                //     //e.srcElement.tagName != "DIV" ||
                //     //background-color:#f2f2f2
                //     if (e.target.tagName != "DIV") {
                //         return;
                //     }
                //     var index = $(this).attr('data-index');
                //     var tableBox = $(this).closest('.layui-table-box');
                //     var tableFixed = tableBox.find(".layui-table-fixed.layui-table-fixed-l");
                //     var tableBody = tableBox.find(".layui-table-body.layui-table-main");
                //     var tableDiv = tableFixed.length > 0 ? tableFixed : tableBody;
                //     // checkCell.click();
                //     // tableDiv.find("tr[data-index=" + index + "]").addClass("select-checkbox");
                //     // $(this).find("tr[data-index="+index+"]").addClass("select-checkbox");
                //     var type = 1;
                //     if (type == 1) {//处理多选框
                //         var checkCell = tableDiv.find("tr[data-index=" + index + "]").find("td div.laytable-cell-checkbox div.layui-form-checkbox");
                //         if (checkCell.length) {
                //             checkCell.click();
                //             var is = checkCell.hasClass("layui-form-checked");
                //             var selectCheckboxOrRadio = $(this).parents("[lay-id='" + tableId + "']").find("tr[data-index=" + index + "]");
                //             //!is &&
                //             if (!selectCheckboxOrRadio.hasClass("select-checkbox-radio") && is) {
                //                 selectCheckboxOrRadio.addClass("select-checkbox-radio");
                //             } else if (selectCheckboxOrRadio.hasClass("select-checkbox-radio") && !is) {
                //                 selectCheckboxOrRadio.removeClass("select-checkbox-radio");
                //             }
                //         }
                //     } else if (type == 2) {//处理单选框
                //         var radioCell = tableDiv.find("tr[data-index=" + index + "]").find("td div.laytable-cell-radio div.layui-form-radio i");
                //         if (radioCell.length) {
                //             radioCell.click();
                //             var $this_table = $(this).parents("[lay-id='" + menuTableId + "']");
                //             $this_table.find("tr").removeClass("select-checkbox-radio");
                //             $this_table.find("tr[data-index=" + index + "]").addClass("select-checkbox-radio");
                //         }
                //     }
                //     // var index = $(this).attr('data-index')
                //     // var tableBox = $(this).closest('.layui-table-box');
                //     // var tableFixed = tableBox.find(".layui-table-fixed.layui-table-fixed-l");
                //     // var tableBody = tableBox.find(".layui-table-body.layui-table-main");
                //     // var tableDiv = tableFixed.length > 0 ? tableFixed : tableBody
                //     // var checkCell = tableDiv.find("tr[data-index=" + index + "]").find("td div.laytable-cell-checkbox div.layui-form-checkbox i");
                //     // // radioCell = tableDiv.find("tr[data-index=" + index + "]").find("td div.laytable-cell-radio div.layui-form-radio i");
                //     // // checkCell.click();
                //     // // tableDiv.find("tr[data-index=" + index + "]").addClass("select-checkbox");
                //     // // $(this).find("tr[data-index="+index+"]").addClass("select-checkbox");
                //     // console.log();
                //     // var selectCheckboxOrRadio = $(this).parent().parent().parent().parent().parent("[lay-id='menuTableId']").find("tr[data-index="+index+"]");
                //     //
                //     //
                //     // if (checkCell.length) {
                //     //     if(selectCheckboxOrRadio.hasClass("select-checkbox-radio")){
                //     //         selectCheckboxOrRadio.removeClass("select-checkbox-radio");
                //     //     }else{
                //     //         selectCheckboxOrRadio.addClass("select-checkbox-radio");
                //     //     }
                //     //     checkCell.click();
                //     // }
                //     // // if (radioCell.length) {
                //     // //     radioCell.click();
                //     // // }
                // });
                // //多选禁止重复
                // $(document).on("click", "td div.laytable-cell-checkbox div.layui-form-checkbox", function (e) {
                //     if (e.originalEvent) {
                //         e.stopPropagation();
                //     }
                //     // layui.stop(e);
                // });
                //单选禁止重复
                // $(document).on("click", "td div.laytable-cell-radio div.layui-form-radio", function (e) {
                //     e.stopPropagation();
                //     // layui.stop(e);
                // });
            });
            [/]
            /*]]>*/
        </script>
    </body>
</html>