<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head
        th:replace="~{segmentation/_right_bottom_header::_header_common(~{::title},~{::link},~{::style})}">
    <meta charset="utf-8">
    <title>用户角色关联管理</title>
    <link>
    <style type="text/css"></style>
</head>
<body>
<div class="layuimini-container">
    <div class="layui-row">
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
            <div class="layuimini-main">
                <fieldset class="layui-elem-field layuimini-search">
                    <legend>搜索信息</legend>
                    <div style="margin: 10px 10px 10px 10px">
                        <form class="layui-form" id="userRole-user-search-form" action="">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">账户名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="loginName" autocomplete="off"
                                               placeholder="请输入账户名"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">姓名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="name" autocomplete="off"
                                               placeholder="请输入姓名"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline"
                                     sec:authorize="hasPermission(#authorization.authentication,'menus','SYSTEM_USER_ROLE_MANAGEMENT')">
                                    <a class="layui-btn" lay-submit="" lay-filter="userRole-user-search-btn" title="搜搜">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </fieldset>
                <div class="layui-btn-group" style="height: 38px;">
                    <a sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_USER_ROLE_MANAGEMENT:save')"
                       class="layui-btn layui-btn-normal userRole-save-btn" title="保存">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </a>
                </div>
                <table id="userRoleUserTableId" lay-filter="userRoleUserTableFilter"></table>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
            <div class="layuimini-main">
                <fieldset class="layui-elem-field layuimini-search">
                    <legend>搜索信息</legend>
                    <div style="margin: 10px 10px 10px 10px">
                        <form class="layui-form" id="userRole-role-search-form" action="">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">角色名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="roleName" autocomplete="off"
                                               placeholder="请输入角色名称"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">角色代码</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="roleCode" autocomplete="off"
                                               placeholder="请输入角色代码"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline"
                                     sec:authorize="hasPermission(#authorization.authentication,'menus','SYSTEM_USER_ROLE_MANAGEMENT')">
                                    <a class="layui-btn" lay-submit="" lay-filter="userRole-role-search-btn" title="搜搜">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </fieldset>
                <div class="layui-btn-group" style="height: 38px;">
                </div>
                <table id="userRoleRoleTableId" lay-filter="userRoleRoleTableFilter"></table>
                <script type="text/html" id="isSuperAdminCurrentTableBar">
                    {{#  if(d.isEnable == 1){ }}
                    是
                    {{#  } else { }}
                    否
                    {{#  } }}
                </script>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{segmentation/_tail::_tail_common}"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    [# sec:authorize="hasPermission(#authorization.authentication,'menus','SYSTEM_USER_ROLE_MANAGEMENT')"]
    layui.use(['form', 'table', 'common'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            userRoleData = "",
            userRoleUserTableSelectId = "",
            userRoleRoleTableSelectId = "",
            roleTableId = "userRoleRoleTableId",
            userTableId = "userRoleUserTableId";

        //角色表格数据完成后初始化
        function roleTableInit(res, curr, count) {
            common.initCheckbokOrRadio(roleTableId, 2);
            if (userRoleData && userRoleData.roleId > 0 && res.data.length > 0) {
                var thisTableData = res.data;
                for (var i = 0; i < thisTableData.length; i++) {
                    if (thisTableData[i].id == userRoleData.roleId) {
                        $("div[lay-id='" + roleTableId + "'] tr[data-index='" + thisTableData[i].LAY_TABLE_INDEX + "'] td div.laytable-cell-radio div.layui-form-radio").click();
                    }
                }
            }
        }

        //用户表格数据完成后初始化
        function userTableInit(res, curr, count) {
            common.initCheckbokOrRadio(userTableId, 2);
        }

        //角色表格
        var userRoleRoleTableId = table.render({
            elem: '#' + roleTableId,
            id: roleTableId,
            url: '/system/user/role/findUserRoleRolePageList',
            height: 475,
            // contentType: 'application/json',
            // method: 'post',
            // even: true,
            done: roleTableInit,
            cols: [
                [
                    {type: "radio", width: 50, field: 'id', fixed: "left"},
                    {type: "numbers", width: 50, fixed: "left", title: '序号'},
                    {field: 'roleName', minWidth: 100, title: '角色名称'},
                    {field: 'roleCode', minWidth: 100, title: '角色代码'},
                    {field: 'roleLevel', minWidth: 100, title: '角色等级'},
                ]
            ],
            // initSort: {
            //      sort: "sortcreateTime", //排序字段   在接口作为参数字段  field order
            //      order: "desc"
            // },
            sort: true,
            limit: 2147483647,
            page: false
        });


        //用户表格
        var userRoleUserTableId = table.render({
            elem: '#' + userTableId,
            id: userTableId,
            url: '/system/user/role/findUserRoleUserPageList',
            height: 475,
            // contentType: 'application/json',
            // method: 'post',
            // even: true,
            done: userTableInit,
            cols: [
                [
                    {type: "radio", width: 50, field: 'id', fixed: "left"},
                    {type: "numbers", width: 50, fixed: "left", title: '序号'},
                    {field: 'loginName', minWidth: 100, title: '账户名', sort: true},
                    {field: 'name', minWidth: 100, title: '姓名', sort: true},
                    {
                        field: 'isSuperAdmin',
                        minWidth: 100,
                        title: '管理员',
                        sort: true,
                        templet: "#isSuperAdminCurrentTableBar"
                    },
                ]
            ],
            // initSort: {
            //      sort: "sortcreateTime", //排序字段   在接口作为参数字段  field order
            //      order: "desc"
            // },
            sort: true,
            limits: [10, 25, 50, 100],
            limit: 10,
            page: true
        });


        // //角色列排序事件绑定
        // table.on('sort(userRoleRoleTableFilter)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        //     //尽管我们的 table 自带排序功能，但并没有请求服务端。
        //     //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
        //     var data = common.getFormData($("#userRole-search-form"));
        //     data.sort = obj.field;//排序字段   在接口作为参数字段  field order
        //     data.order = obj.type;//排序方式   在接口作为参数字段  field order
        //     //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
        //     common.tablePageRefresh(roleTableId, data);
        // });

        //角色单选事件绑定
        table.on('radio(userRoleRoleTableFilter)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            userRoleRoleTableSelectId = obj.data.id;
        });

        //角色监听搜索操作
        form.on('submit(userRole-role-search-btn)', function (data) {
            //执行搜索重载
            userRoleRoleTableSelectId = "";
            common.tablePageRefresh(roleTableId, data.field);
            return false;//返回false防止重复提交
        });


        //用户列排序事件绑定
        table.on('sort(userRoleUserTableFilter)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            //尽管我们的 table 自带排序功能，但并没有请求服务端。
            //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
            var data = common.getFormData($("#userRole-search-form"));
            data.sort = obj.field;//排序字段   在接口作为参数字段  field order
            data.order = obj.type;//排序方式   在接口作为参数字段  field order
            //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
            common.tableRefresh(userTableId, data);
        });

        //用户监听搜索操作
        form.on('submit(userRole-user-search-btn)', function (data) {
            //执行搜索重载
            userRoleUserTableSelectId = "";
            common.tableRefresh(userTableId, data.field);
            return false;//返回false防止重复提交
        });

        //用户单选事件绑定
        table.on('radio(userRoleUserTableFilter)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            userRoleUserTableSelectId = obj.data.id;
            $.ajax({
                type: 'POST',
                url: '/system/user/role/findByParamList',
                data: {
                    userId: userRoleUserTableSelectId
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == Result.SUCCESS) {
                        userRoleData = data.data;
                        var roleData = common.getFormData($("#userRole-role-search-form"));
                        common.tablePageRefresh(roleTableId, roleData);
                    } else {
                        layer.msg(data.msg, {
                            icon: 2,
                            time: 3000
                        });
                    }
                }
                /* error:function(data) {
                    console.log(data.msg);
                }, */
            });
        });

        [# sec:authorize="hasPermission(#authorization.authentication,'button','SYSTEM_USER_ROLE_MANAGEMENT:save')"]
        // 批量保存操作
        $(document).off("click", ".userRole-save-btn");
        $(document).on("click", ".userRole-save-btn", function () {
            if (userRoleUserTableSelectId.length == 0) {
                layer.msg('请选中用户信息');
                return;
            }
            layer.confirm('确认保存吗？', {
                icon: 3,
                title: '提示',
                shadeClose: true
            }, function (index) {
                var arr = new Array();
                arr.push(userRoleRoleTableSelectId);
                layer.close(index);
                $.ajax({
                    type: 'POST',
                    url: '/system/user/role/save',
                    data: {
                        userId: userRoleUserTableSelectId,
                        roleIdList: arr
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == Result.SUCCESS) {
                            layer.msg('成功!', {
                                icon: 1,
                                shade: [0.3, '#f5f5f5'],
                                time: 1500
                            }, function () {
                                userRoleUserTableSelectId = "";
                                userRoleRoleTableSelectId = "";
                                var roleData = common.getFormData($("#userRole-role-search-form"));
                                common.tablePageRefresh(roleTableId, roleData);
                                var userData = common.getFormData($("#userRole-user-search-form"));
                                common.tableRefresh(userTableId, userData);
                            });
                        } else {
                            layer.msg(data.msg, {
                                icon: 2,
                                time: 3000
                            });
                        }
                    }
                    /* error:function(data) {
                        console.log(data.msg);
                    }, */
                });
            });
            return;
        });
        [/]
    });
    [/]
    /*]]>*/
</script>
</body>
</html>