<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head
        th:replace="~{segmentation/_right_bottom_header::_header_common(~{::title},~{::link},~{::style})}">
    <meta charset="utf-8">
    <title>我的桌面</title>
    <link>
    <style type="text/css"></style>
</head>
<body>

<!--<script src="../lib/layui-v2.5.4/layui.js" charset="utf-8"></script>-->
<!--_footer 作为公共模版分离出去-->
<div th:replace="~{segmentation/_tail::_tail_common}"></div>
<!--/_footer 作为公共模版分离出去-->
</body>
</html>